
body {
    padding: 0;
}
/*
  Наклейка
*/
.img{
    width: 40%;
    height: 65px;
}

.b-sticker {
    width: 100%;
    padding: 3mm;
    float: left;
    font-family: Arial;
    border: 1px black;
    page-break-inside: avoid;
}
.b-sticker table {
    width: 99%;
    border-collapse: collapse;
}
.b-sticker tr td {
    padding: 2mm;
}
.b-sticker tr:first-child td {
    border-bottom: 1mm solid #000;
}
.b-sticker tr td p {
    margin: 0;
    padding-bottom: 1mm;
}

/* Штрихкод код PHP*/
.barcode {
    width: 100%;
    padding-left: 100px;
    font-size: 20px;
    text-align: center;
}

.barcode1 {
    width: 180%;
    font-size: 20px;
    text-align: center;
    padding-left: 100px;
}

/* Размеры шрифтов */
.b-sticker .seller {
    font-size: 4mm;
}
.b-sticker .number {
    font-size: 6mm;
}
.b-sticker .customer-info {
    font-size: 3.8mm;
}
.customer-info{
    padding: 50px 0;
    border-right: 2px solid black;
}
.line2{
    border-bottom: 2px solid black;
    text-align: center;
}
.right{
    border-right: 2px solid black;
}
.span{
    font-size: 200%;
    font-weight: 300;
    margin-top: 20px;
}

.line3{
    margin: -8px;
    border-bottom: 2px solid black;
}

.display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.display>div{
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    padding: 0;
}
.display2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.display2>div{
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding: 0;
}

.ot>div{
    margin-bottom: 10px;
}

.display3{
    /*  display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 100%;*/
    margin-top: 450px;
    margin-left: -100px;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);

}
